In [47]:
import requests
import pandas as pd
import matplotlib as plt
import json

In [48]:
response = requests.get('https://www.dph.illinois.gov/sitefiles/COVIDZip.json?nocache=1')

data = response.json()
zip_data= pd.json_normalize(data['zip_values'])
test= pd.DataFrame(data[''])

,zip,confirmed_cases,demographics.age,demographics.race,demographics.gender
0,60002,26,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 7}, {'descr...","[{'description': 'Male', 'count': 13}, {'descr..."
1,60004,88,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 20}, {'desc...","[{'description': 'Male', 'count': 27}, {'descr..."
2,60005,32,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 7}, {'descr...","[{'description': 'Male', 'count': 17}, {'descr..."
3,60007,45,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 20}, {'desc...","[{'description': 'Male', 'count': 23}, {'descr..."
4,60008,25,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 13}, {'desc...","[{'description': 'Male', 'count': 14}, {'descr..."
...,...,...,...,...,...
352,62702,11,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 6}, {'descr...","[{'description': 'Male', 'count': 0}, {'descri..."
353,62711,8,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 0}, {'descr...","[{'description': 'Male', 'count': 0}, {'descri..."
354,62801,29,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 7}, {'descr...","[{'description': 'Male', 'count': 6}, {'descri..."
355,62901,27,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 6}, {'descr...","[{'description': 'Male', 'count': 8}, {'descri..."
356,62959,6,"[{'age_group': 'Unknown', 'count': 0}, {'age_g...","[{'description': 'White', 'count': 0}, {'descr...","[{'description': 'Male', 'count': 0}, {'descri..."