In [69]:
import requests
import pandas as pd
import matplotlib as plt
import json

In [70]:
path = 'Resources/us-zip-code-latitude-and-longitude.csv'
path2 = 'Resources/Illinois_Confirmed.csv'

In [72]:
zip_df= pd.read_csv(path, delimiter= ';')
confirmed_df= pd.read_csv(path2)
zip_df.rename(columns={'Zip': 'zip' }, inplace= True)
zip_df

,zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,60651,Chicago,IL,41.901485,-87.74055,-6,1,"41.901485,-87.74055"
1,62090,Venice,IL,38.670650,-90.17052,-6,1,"38.67065,-90.17052"
2,62420,Casey,IL,39.299447,-87.99863,-6,1,"39.299447,-87.99863"
3,62206,East Saint Louis,IL,38.564451,-90.16280,-6,1,"38.564451,-90.1628"
4,62611,Arenzville,IL,39.883346,-90.39332,-6,1,"39.883346,-90.39332"
...,...,...,...,...,...,...,...,...
1622,62883,Scheller,IL,38.164136,-89.11908,-6,1,"38.164136,-89.11908"
1623,60104,Bellwood,IL,41.882924,-87.87642,-6,1,"41.882924,-87.87642"
1624,60176,Schiller Park,IL,41.956830,-87.87193,-6,1,"41.95683,-87.87193"
1625,61790,Normal,IL,40.510320,-88.99803,-6,1,"40.51032,-88.99803"
1626,62833,Ellery,IL,38.361654,-88.16484,-6,1,"38.361654,-88.16484"

In [79]:
confirmed_df
confirmed_df.drop(columns='Unnamed: 0', inplace=True)

In [80]:
new_df= confirmed_df.merge(zip_df, on='zip')
new_new_df= new_df.drop(columns=['Timezone','Daylight savings time flag','City','State'])

In [81]:
new_new_df

       zip  confirmed_cases   Latitude  Longitude             geopoint
0    60002               28  42.466170  -88.09995   42.46617,-88.09995
1    60004               52  42.108428  -87.97723  42.108428,-87.97723
2    60005               33  42.069327  -87.98464  42.069327,-87.98464
3    60007               47  42.005978  -87.99847  42.005978,-87.99847
4    60008               29  42.075060  -88.02508   42.07506,-88.02508
..     ...              ...        ...        ...                  ...
348  62650                9  39.730234  -90.22941  39.730234,-90.22941
349  62702               11  39.819000  -89.64379     39.819,-89.64379
350  62801               31  38.523736  -89.12570   38.523736,-89.1257
351  62901               30  37.707763  -89.19246  37.707763,-89.19246
352  62959                7  37.724504  -88.92968  37.724504,-88.92968

[353 rows x 5 columns]

In [83]:
new_new_df.to_csv('Resources/Confirmed_Geo.csv')